/* ======================================================
   SIPERPUS DDI CAMBALAGI
   Custom CSS
====================================================== */


/* ======================================================
   GLOBAL
====================================================== */

*{
    transition: .25s ease;
}

body{
    background:#f4f6f9;
}


/* ======================================================
   NAVBAR
====================================================== */

.app-header{
    background:#ffffff !important;
    border-bottom:1px solid #e9ecef;
    box-shadow:0 2px 12px rgba(0,0,0,.06);
    min-height:65px;
}

.app-header .nav-link{
    color:#2c3e50;
}

.app-header .nav-link:hover{
    color:#0d6efd;
}

.user-image{
    width:40px;
    height:40px;
    object-fit:cover;
}


/* ======================================================
   SIDEBAR
====================================================== */

.app-sidebar{
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}


/* ======================================================
   FOOTER
====================================================== */

.app-footer{
    border-top:1px solid #eee;
}


/* ======================================================
   MOBILE
====================================================== */

@media (max-width:768px){

    .app-footer{
        display:none;
    }

    .content-wrapper{
        padding:15px;
    }

}